<?php

$vendorDir = __DIR__.'/vendor';
require_once $vendorDir.'/symfony/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Symfony'                => array($vendorDir.'/symfony/symfony/src', $vendorDir.'/bundles'),
    'Doctrine\\Common'                => array($vendorDir.'/doctrine/common/lib', $vendorDir.'/bundles'),
    'Doctrine'                => array($vendorDir.'/doctrine/lib', $vendorDir.'/bundles'),
));

$loader->registerPrefixes(array(
    'Twig_' => $vendorDir.'/twig/twig/lib',
));
$loader->register();

spl_autoload_register(function($class) {
    if (0 === strpos($class, 'Snowcap\\ImBundle\\')) {
        $path = __DIR__.'/'.implode('/', array_slice(explode('\\', $class), 2)).'.php';
        if (!stream_resolve_include_path($path)) {
            return false;
        }
        require_once $path;

        return true;
    } elseif(0 === strpos($class, 'org\\bovigo\\vfs')) {
        $path = __DIR__.'/vendor' . '/mikey179/vfsStream/src/main/php/' . implode('/', array_slice(explode('\\', $class), 0)).'.php';
        if (!stream_resolve_include_path($path)) {
            return false;
        }
        require_once $path;

        return true;
    }
});
